<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llm.llm_knowledge.mapper.CategoryMapper">

    <!-- 递归查询所有子类别 -->
    <select id="getSubCategoriesByParentId" resultType="com.llm.llm_knowledge.dto.CategoryDTO">
        WITH RECURSIVE CategoryTree AS (
            SELECT
                category_id,
                parent_id,
                category_name,
                description,
                sort_order,
                created_time,
                updated_time
            FROM
                category
            WHERE
                category_id = #{categoryId}

            UNION ALL

            SELECT
                c.category_id,
                c.parent_id,
                c.category_name,
                c.description,
                c.sort_order,
                c.created_time,
                c.updated_time
            FROM
                category c
                    INNER JOIN
                CategoryTree ct ON c.parent_id = ct.category_id
        )
        SELECT
            *
        FROM
            CategoryTree;
    </select>

</mapper>
