<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llm.llm_knowledge.mapper.CourseMapper">

    <select id="selectCoursesWithFilters" resultType="com.llm.llm_knowledge.dto.CourseDTO">
        SELECT
        cr.course_img_url,
        cr.course_id,
        cr.course_description,
        cr.course_name,
        cr.course_rating,
        cr.course_duration,
        cr.created_time,
        cr.updated_time,
        cr.course_difficulty_level,
        cg.category_name
        FROM
        course AS cr
        INNER JOIN category AS cg ON cr.category_id = cg.category_id
        <where>
            <if test="courseName != null and courseName != ''">
                AND cr.course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="courseDescription != null and courseDescription != ''">
                AND cr.course_description LIKE CONCAT('%', #{courseDescription}, '%')
            </if>
            <if test="courseDifficultyLevel != null and courseDifficultyLevel != ''">
                AND cr.course_difficulty_level LIKE CONCAT('%', #{courseDifficultyLevel}, '%')
            </if>
            <if test="courseRating != null and courseRating != ''">
                AND cr.course_rating LIKE CONCAT('%', #{courseRating}, '%')
            </if>
            <if test="popular != null ">
                AND cr.popular = #{popular}
            </if>
        </where>
        ORDER BY cr.created_time DESC
    </select>

    <!--查询所有的章节-->
    <select id="selectAllChapters" resultType="com.llm.llm_knowledge.dto.CourseChapterDTO">
        SELECT crc.created_time,
               crc.updated_time,
               crc.chapter_name,
               cr.course_name
        FROM course_chapter AS crc
                 INNER JOIN course AS cr ON crc.course_id = cr.course_id
    </select>


    <!--用户浏览课程后要把课程浏览表更新,时间更新,view_count + 1-->
    <insert id="addCourseView" parameterType="com.llm.llm_knowledge.entity.CourseView">
        INSERT INTO course_view (user_id, course_id, updated_time, view_count)
        VALUES (#{userId}, #{courseId}, CURRENT_TIMESTAMP, 1)
        ON DUPLICATE KEY UPDATE
                             updated_time = CURRENT_TIMESTAMP,
                             view_count = view_count + 1;
    </insert>

    <!--根据父id查出子id-->
    <select id="getChildByParent">
        Select
            category.category_id
        FROM
            category
        WHERE
            parent_id = #{parentId}
    </select>


    <!--根据子id来查课程-->
    <select id="getCourByIds">
        SELECT
            *
        FROM
            course
        WHERE
            category_id = #{childId}
    </select>


</mapper>