<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llm.llm_knowledge.mapper.CourseFavoriteMapper">

    <!-- 根据课程名搜索收藏记录 -->
    <select id="selectFavoritesByCourseName" resultType="com.llm.llm_knowledge.dto.CourseFavoriteDTO">
        SELECT
        cf.course_favorite_id,
        cf.course_id,
        cf.user_id,
        cf.deleted,
        cf.created_time,
        cf.updated_time
        FROM course_favorite AS cf
        <where>
            cf.deleted = 0
            <!-- 逻辑删除字段，0 代表未删除 -->
            <if test="courseName != null and courseName != ''">
                AND EXISTS (
                SELECT 1
                FROM course c
                WHERE c.course_id = cf.course_id
                AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
                )
            </if>
        </where>
        ORDER BY cf.updated_time DESC
    </select>


    <select id="getCourseFavoriteByUserId" resultType="com.llm.llm_knowledge.entity.Course">
        SELECT
        cr.course_id,
        cr.course_img_url,
        cr.course_name,
        cr.course_description,
        crf.updated_time
        FROM
        course AS cr
        INNER JOIN
        course_favorite
        AS crf
        ON cr.course_id = crf.course_id
        WHERE
        crf.user_id = #{userId}
    </select>

</mapper>