<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llm.llm_knowledge.mapper.UserInfoMapper">

<!--    获取男女人数-->
    <select id="findUserSexDistribution" resultType="java.util.Map">
        SELECT
            user_sex AS user_sex,
            COUNT(*) AS count
        FROM
            user_info
        GROUP BY
            user_sex
    </select>


<!--    获取用户总数-->
    <select id="getUserTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS total
        FROM user_info
    </select>


<!--获取用户观看视频总数-->
    <select id="countCompletedCoursesByUser" resultType="java.util.Map">
        SELECT
            u.user_name,
            COUNT(*) AS completed_count
        FROM
            course_progress cp
                JOIN
            user_info u ON cp.user_id = u.user_id
        WHERE
            cp.is_completed = 1
        GROUP BY
            u.user_name
    </select>



    <select id="getCityUserCount" resultType="com.llm.llm_knowledge.dto.UserCityDTO">
        SELECT
            user_local AS userLocal,
            COUNT(*) AS user_num
        FROM
            user_info
        GROUP BY
            user_local
    </select>


    <select id="getAgeUserCount" resultType="com.llm.llm_knowledge.dto.UserAgeDTO">
        SELECT
            user_age AS userAge,
            COUNT(*) AS age_count
        FROM
            user_info
        GROUP BY
            user_age
    </select>



<!--    查看用户是否完成某个课程-->
    <select id="selectProgressWithFilters" resultType="com.llm.llm_knowledge.dto.UserCourseProgressDTO">
        SELECT
        curpg.*,
        ui.user_name
        FROM course_progress AS curpg
        INNER JOIN user_info AS ui ON curpg.user_id = ui.user_id
        <where>

        </where>
    </select>

    <select id="selectDateCourseAll" resultType="com.llm.llm_knowledge.dto.DateUserCourseCountDTO">
        SELECT
            DATE(curpg.created_time) AS click_date,
            cur.course_name,
        COUNT(DISTINCT curpg.user_id) AS course_num
        FROM course_progress AS curpg
        INNER JOIN course AS cur ON curpg.course_id = cur.course_id
        GROUP BY
            DATE(curpg.created_time), cur.course_name
        ORDER BY
            click_date, cur.course_name;
    </select>

    <!--正常-->
    <select id="selectUserInfoAll" resultType="com.llm.llm_knowledge.entity.UserInfo">
        SELECT
        *
        FROM user_info AS ui

        <where>
            <if test="userSex != null and userSex != ''">
                AND ui.user_sex = #{userSex}
            </if>
            <if test="userName != null and userName != ''">
                AND ui.user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            AND ui.user_underview = 1
        </where>
    </select>

    <!--冻结-->
    <select id="selectUserInfoAll2" resultType="com.llm.llm_knowledge.entity.UserInfo">
        SELECT
        *
        FROM user_info AS ui

        <where>
            <if test="userSex != null and userSex != ''">
                AND ui.user_sex = #{userSex}
            </if>
            <if test="userName != null and userName != ''">
                AND ui.user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            AND ui.user_underview = 0
        </where>
    </select>


    <select id="lookFollower" resultType="com.llm.llm_knowledge.entity.UserInfo">
        SELECT
            uf.followee_id AS user_id,
            ui.user_name,
            ui.user_profile_picture,
            ui.user_bio,
            uf.created_time AS follow_time
        FROM
            user_follow uf
                JOIN
            user_info ui
            ON
                uf.followee_id = ui.user_id
        WHERE
            uf.follower_id = #{userId}
        ORDER BY
            uf.created_time DESC
    </select>


    <select id="lookFans" resultType="com.llm.llm_knowledge.entity.UserInfo">
        SELECT
            uf.follower_id AS user_id,
            ui.user_name,
            ui.user_profile_picture,
            ui.user_bio,
            uf.created_time AS follow_time
        FROM
            user_follow uf
                JOIN
            user_info ui
            ON
                uf.follower_id = ui.user_id
        WHERE
            uf.followee_id = #{userId}
        ORDER BY
            uf.created_time DESC
    </select>



    <select id="getScore" resultType="com.llm.llm_knowledge.dto.UserScoreDTO">
        SELECT
            ui.user_id AS userId,
            ui.user_name AS userName,
            usc.score AS score
        FROM
            user_info ui
                JOIN
            user_community_score usc
            ON
                ui.user_id = usc.user_id
        WHERE
            usc.community_id = #{communityId}
        ORDER BY
            usc.score DESC,
            ui.user_id ASC
    </select>


    <insert id="userFollow">
        INSERT INTO
        user_follow (follower_id, followee_id, created_time)
        VALUES
        (#{userId},#{followeeUserId},NOW())
    </insert>

    <!--用户查看课程观看记录-->
    <select id="getCourseView" resultType="com.llm.llm_knowledge.entity.Course">
        select
        cr.course_id,
        cr.course_name,
        cr.course_img_url,
        cr.course_description,
        crv.updated_time
        FROM
        course
        AS
        cr
        INNER JOIN
        course_view
        AS
        crv
        ON
        cr.course_id = crv.course_id
        WHERE
        crv.user_id = #{userId}
    </select>

    <!--用户观看帖子记录-->
    <select id="getPostView" resultType="com.llm.llm_knowledge.entity.Post">
        select
        post.post_id,post.post_title,post.post_content,post.community_id,post_view.updated_time
        FROM
        post
        INNER JOIN
        post_view
        ON
        post.post_id = post_view.post_id
        WHERE
        post_view.user_id = #{userId}
        AND
        post.deleted = 0
    </select>


</mapper>