<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llm.llm_knowledge.mapper.UserInfoMapper">

    <select id="selectProgressWithFilters" resultType="com.llm.llm_knowledge.dto.UserCourseProgressDTO">
        SELECT
        curpg.*,
        ui.user_name
        FROM course_progress AS curpg
        INNER JOIN user_info AS ui ON curpg.user_id = ui.user_id
        <where>

        </where>
    </select>

    <select id="selectDateCourseAll" resultType="com.llm.llm_knowledge.dto.DateUserCourseCountDTO">
        SELECT
            DATE(curpg.created_time) AS click_date,
            cur.course_name,
        COUNT(DISTINCT curpg.user_id) AS course_num
        FROM course_progress AS curpg
        INNER JOIN course AS cur ON curpg.course_id = cur.course_id
        GROUP BY
            DATE(curpg.created_time), cur.course_name
        ORDER BY
            click_date, cur.course_name;

    </select>

</mapper>